build/
*.vvp
*.vcd
*.wlf
wlft*
work/
vsim.dbg
modelsim.ini
.DS_Store
trunk/sim/file/colPInput.txt
trunk/sim/file/rotateInput.txt
trunk/sim/file/permuteInput.txt
trunk/sim/file/addRcInput.txt
trunk/sim/file/revaluateInput.txt
